

.navbar{
    background-color: blue;

}
    
img {
    width:60px;
    height: 60px;
}
.text-red{
    color:red;
}

.text-orange{
    color:orange;
}

.text-blue{
    color:blue;
}

.text-red{
    color:red;
}

.text-black{
    color:black;
}

.text-red{
    color:red;
}

.text-black{
    color:black;
}
.text-red{
    color:red;
}


.border1{
    background-color: blue;
}
.border2{
    background-color: coral;
}
.border3{
    background-color: white;
}
